body{
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  text-align: center;
  background-color: rgb(64, 105, 116);
}

h1 {
  color:white;
}

.equation {
  color:rgb(245, 245, 245);
}

.input {
  padding:0.25rem;
  width:100px;
  border-radius: 5px;
}

.select {
  padding:0.25rem;
  border-radius: 4px;
  margin:2px;
}